.card__icons-checkbox {
    display: none;
}

.icons {
    cursor: pointer;
    line-height: unset;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5rem;
}

.card__icons-checkbox:checked ~ .card__checkbox {
    display: block;
    color: #007bff;
}

.card__icons-checkbox ~ .card__checkbox {
    display: block;
    color: #000000;
}

.collapse, .card-header, #accordionFilm .card {
    border-bottom: 1px solid rgba(0,0,0,.125);
}
