
:root {
--green: #1EBEB4;
--blue: #EAF9FF;
--red: #F16953;
--yellow: #FCC659;
--white: #FFFFFF;
--black: #000000;
--grey: #F6F6F6;
--grey-light: #F7F7F7;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--grey-light);
    font-family: OpenSans, serif;
}

p {
    margin-top: 0;
    margin-bottom: 15px;
}

table {
    border: 1px solid #CCC;
    border-collapse: collapse;
}

table,tr,th,td {
    border: none;
}

.content-wrapper {
    display: flex;
    margin-top: 81px;
    margin-right: 290px;
    margin-bottom: 451px;
    background: var(--white);
}

.side-bar {
    width: 100px;
    height: 1027px;
    background: #393A3F;
}

.container {
    padding: 20px;
    width: 100%;
}
.title {
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.title h1 {
    margin: 0;
    font-size: 32px;
    color: var(--black);
    line-height: 40px;
    text-align: left;
    font-weight: normal;
}

.controls {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    background: var(--grey-light);
    height: 57px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#option1,
#option2 {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.btn {
    width: 153px;
    height: 45px;
    background: var(--white);
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    color: #556080;
    text-align: center;
    line-height: 43px;
}

.btn--option1 {
    margin-right: 20px;
}


#option1:checked ~ .btn--option1 {
    background: #556080;
    border-radius: 2px;
    font-size: 14px;
    color: #CACACA;
    text-align: center;
}

#option2:checked ~ .btn--option2{
    background: #556080;
    border-radius: 2px;
    font-size: 14px;
    color: #CACACA;
    text-align: center;
}


.btn--option1:hover,
.btn--option2:hover {
    background: #dbdbdb;
    color: var(--black);
    font-weight: bold;
}

#option1:checked ~ .btn--option1:hover,
#option2:checked ~ .btn--option2:hover {
    background: #3F4968;
    color: var(--white);
}

.holiday-graph {
    width: 100%;
    display: none;
}
.holiday-graph--visible {
    display: block;
}

.table {
    width: 100%;
}

.table__title {
    text-align: left;
    margin-top: 22px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    background: var(--grey-light);
    font-size: 18px;
    color: #2D2E2E;
    width: 100%;
    position: relative;
}
.year {
    position: absolute;
    right: 32px;
    top: 24px;
}

.year::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../image/ic-left.svg") ;
    top: 0;
    left: -32px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.year::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../image/ic-right.svg");
    top: 0;
    right: -32px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.table__header{
    width: 100%;
    font-size: 10px;
    color: #232323;
    line-height: 12px;
    background: var(--grey-light);

}
.table__row {
    width: 100%;
    font-size: 12px;
    color: #232323;
    line-height: 12px;
    background: var(--white);
    border-top: 1px solid var(--grey-light);
    border-bottom: 1px solid var(--grey-light);;
}

.cell-header{
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: normal;
}
.cell-row {
    padding-top: 8px;
    padding-bottom: 8px;
}
.cell-row__block {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell-row__name,
.days-info__person {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cell-row__name {
    line-height: 12px;
}
.cell-row__name img{
    width: 32px;
    height: 32px;
}
.cell-row__name span {
    margin-left: 8px;
}
.cell-row__month {
    justify-content: center;
}
.cell-row__month span {
    width: 100%;
    text-align: center;
    display: block;
}

.week {
    width: 8px;
    height: 16px;
    margin: 1px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
}

.day {
    height: 2.28px;
    width: 100%;

}

.day--green{
    background: var(--green);
}
.day--blue{
    background: var(--blue);
}
.day--red{
    background: var(--red);
}
.day--yellow{
    background: var(--yellow);
}
.day--white{
    background: var(--white);
}
.day--grey{
    background: var(--grey);
}

.days-info {
    position: absolute;
    left: 0;
    bottom: -200px;
    bottom: -2px;
    width: 345px;
    height: 146px;
    background: var(--white);
    box-shadow: 0 0 4px 0 rgba(107,107,107,0.50);
    border-radius: 4px;
    z-index: 5;
    padding: 16px;
}
.days-info__person {
    margin-bottom: 16px;
}
.days-info__person img {
    width: 54px;
    height: 54px;
}
.days-info__person span {
    font-size: 14px;
    font-weight: bold;
    color: var(--black);
    margin-left: 16px;
    line-height: 19px;
}
.days-info__date {
    padding-left: 20px;
    font-size: 14px;
    color: var(--black);
}
.days-type {
    font-size: 14px;
    color: #AEAEAE;
    line-height: 19px;
}
.period {
    position: relative;
    line-height: 19px;
}
.period::before {
    position: absolute;
    content: '';
    display: block;
    width: 12px;
    height: 16px;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.period--green::before {background: var(--green);}
.period--yellow::before {background: var(--yellow);}
.period--red::before {background: var(--red);}


@font-face {
font-family: "OpenSans";
src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}