.header {
	position: relative;
	padding-top: 30px;
	width: 100%;
	/*height: 1195px;*/
	background-color: #fffef9;
	background-image: url(../img/illustrations/illustration-header.png),
	linear-gradient(to top, #ffffff 0%, #fff9df 100%);
	background-repeat: no-repeat;
	background-position: center bottom, bottom;
	background-size:  100% auto;
	padding-bottom: 420px;
}

@media (min-width: 1140px ) {
	.header {
		padding-top: 64px;
	}
}

.logo__container {
	display: flex;	
	flex-direction: column;
}

.tagline {
	background-color: #ffffff;
	border-radius: 40px;
	/*width: 276px;*/
	height: 44px;
	box-shadow: 4px 7px 7px rgba(41, 36, 17, 0.06);
	position: relative;
}

.tagline::after {
	display: block;
	content: "";
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-top: 10px solid #ffffff;
	top: 44px;
	left: 57px;
}

.tagline__text {
	padding-top: 13px;
	padding-left: 37px;
	padding-right: 	37px;
	padding-bottom: 13px;
	color: #0d3e60;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
	font-weight: 400;
}

.tagline span {
	font-weight: 700;
}
.logo__head {
	padding-left: 44px;
	padding-top: 20px;
}

.promises-counter {
	padding-top: 32px;

	/*mobile*/
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media (min-width: 1140px ) {
	.promises-counter {
		padding-top: 32px;
	}
}


.promises-counter__icon {
	margin-bottom: 8px;
}

.promises-counter__counter {
	/* Style for "31,122 +" */
	color: #0d3e60;
	font-size: 20px;
	font-weight: 700;
	line-height: 19.25px;
}

.promises-counter__promises {
	/* Style for "promises" */
	margin-top:;
	color: #0d3e60;
	font-size: 16px;
	font-weight: 300;
	line-height: 19.25px;
}

.header-content {
	max-width: 650px;
	height: auto;
	margin-top: 23px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.header-content__icon-mail {
	margin-bottom: 35px;
}

.header__invite {
	color: #eb5238;
	font-size: 20px;
	font-weight: 300;
	line-height: 19.13px;
	margin-bottom: 21px;
}

.header__title {
	color: #0d3e60;
	font-size: 38px;
	font-weight: 700;
	line-height: 39.85px;
	margin-bottom: 36px;
}

.header-names {
	display: block;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	-webkit-justify-content: center;
			justify-content: center;
	position: relative;
}

.header-names * {


}
.header-names__name{
	color: #eb5238;
	font-size: 22px;
	font-weight: 700;
	line-height: 40px;

}
.header-names__email {
	color: #0d3e60;
	font-size: 16px;
	font-weight: 700;
	line-height: 36px;
}

.header-names__button {
	width: 91px;
	height: 91px;
	background-color: #ed543a;
	-webkit-border-radius: 50px;
			border-radius: 50px;
	background-image: url(../img/icons/heart_icon.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);

}

.header-names__button::after {
	content: "+";
	width: 37px;
	height: 37px;
	background-color: #ffcc36;
	border-radius: 20px;
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translate(-50%, 100%);

	color: #ffffff;
	font-size: 30px;
	font-weight: 300;
	line-height: 37px;
	text-align: center;
}

.header-names__left {
	text-align: right;
	width: 50%;
	padding-right: 80px;
	padding-top: 10px;
}

.header-names__right {
	text-align: left;
	width: 50%;
	padding-left: 80px;
	padding-top: 10px;
}

.scroll {
	margin-left: auto;
	margin-right: auto;
}
.scroll-desc {
	color: #0d3e60;
	font-size: 16px;
	font-weight: 300;
	line-height: 24.06px;
	margin-top: 16px;
	text-align: center;
}

.scroll-bg {
	max-width: 751px;
	height: 122px;
	background-color: #fff9df;
	position: relative;
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;

}

.scroll-bg::before {
	content: "";
	width: 73px;
	height: 174px;
	display: block;
	position: absolute;
	left: -23px;
	top: -28px;
	background-image: url("../img/header/left_scroll.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.scroll-bg::after {
	content: "";
	width: 73px;
	height: 174px;
	display: block;
	position: absolute;
	right: -23px;
	top: -28px;
	background-image: url("../img/header/right_scroll.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.scroll-title {
	color: #8d8b80;
	font-size: 18px;
	font-weight: 500;
	line-height: 24.06px;
	text-align: center;
}

.link-circle {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	width: 81px;
	height: 81px;
	
	border-radius: 50px;
	position: absolute;
}

.link-circle__inner {
	width: 55px;
	height: 55px;
	background-color: #eb5238;
	border-radius: 50px;
	z-index: 2;
	position: absolute;
	left: 13px;
	top: 13px;
	background-image: url("../img/icons/arrow_down_icon.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.link-circle:hover {
	background-color: rgba(255, 82, 56, .2);
	transition: 0.5s ease-in-out;
}


.header-content, .header-names, .header-circle, .scroll, .cloud-1, .cloud-2, .link-circle {
	display: none;
}
